services:
  web:
    build: .
    # CAMBIO CRÍTICO: Generamos Prisma antes de iniciar el servidor dev
    command: sh -c "npx prisma generate && npm run dev"
    volumes:
      - .:/app
      - /app/node_modules # Protege los módulos instalados en Linux
    ports:
      - "3001:3000"
      - "5555:5555"
    environment:
      DATABASE_URL: "postgresql://user:password@db:5432/doctor_antivejez_local"
      # NEXTAUTH_URL es para los redirects del navegador
      NEXTAUTH_URL: "http://localhost:3001"
      # NEXTAUTH_URL_INTERNAL soluciona el error 401/500 en Docker
      NEXTAUTH_URL_INTERNAL: "http://localhost:3000"
      NEXTAUTH_SECRET: "n5bQGpiu3t03I8NOA3RfClMcQAfYvx6Hyo7yOTWEO1M="
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: doctor_antivejez_local
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d doctor_antivejez_local"]
      interval: 5s # Más frecuente para desarrollo rápido
      timeout: 5s
      retries: 5

volumes:
  postgres_data: